/* -------= imports =------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.mm__common__main-container--pt-6 {
  padding-top: 6px;
}
.mm__common__main-container--pb-6 {
  padding-bottom: 6px;
}
.mm__margin-top-bottom-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mm__margin-top-bottom-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mm__margin-bottom-0 {
  margin-bottom: 0;
}
.mm__margin-bottom-4 {
  margin-bottom: 4px;
}
.mm__margin-right-4 {
  margin-right: 4px;
}
.mm__margin-bottom-6 {
  margin-bottom: 6px;
}
.mm__margin-bottom-8 {
  margin-bottom: 8px;
}
.mm__margin-bottom-12 {
  margin-bottom: 12px;
}
.mm__margin-bottom-14 {
  margin-bottom: 14px;
}
.mm__margin-bottom-16 {
  margin-bottom: 16px;
}
.mm__margin-bottom-34 {
  margin-bottom: 34px;
}
.mm__headers--non-text-transform {
  text-transform: none;
}
.mm__padding-left-right-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.mm__padding-left-right-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.mm__padding-left-right-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.mm__border--none {
  border: none;
}
.mm__text--color-white {
  color: #ffffff;
}
.mm__forum_ribbon__column--mb-6 {
  margin-bottom: 6px;
}
.mm__forum_ribbon__column--mb-8 {
  margin-bottom: 8px;
}
.mm__forum_ribbon__column--mb-10 {
  margin-bottom: 10px;
}
.mm__forum_ribbon__column--mb-12 {
  margin-bottom: 12px;
}
.mm__forum_ribbon__column--mb-14 {
  margin-bottom: 14px;
}
.mm__forum_ribbon__column--nonpadding {
  padding: 0;
}
.mm__forum_ribbon__column--nonmargin {
  margin: 0;
}
.mm__forum_ribbon__icon--pr-6 {
  padding-right: 6px;
}
.mm__forum_ribbon__icon--pr-4 {
  padding-right: 4px;
}
.mm__forum_ribbon__icon--color-red {
  color: #d9534f;
}
.mm__forum_ribbon__icon--color-red:hover {
  color: #c9302c;
}
.mm__forum_ribbon__icon--color-green {
  color: #5cb85c;
}
.mm__forum_ribbon__icon--color-green:hover {
  color: #449d44;
}
.mm__forum_ribbon___theme_vote_link {
  text-decoration: none;
}
.mm__forum_ribbon___theme_vote_link:hover {
  text-decoration: none;
  text-underline: none;
}
.mm__forum_ribbon__vote_badge {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font-weight: 600;
}
.mm__forum_ribbon__vote_badge--minus-rate {
  color: rgba(217, 83, 79, 0.8);
}
.mm__forum_ribbon__header--non-text-transform {
  text-transform: none;
}
.mm__forum_ribbon__theme_adwertisement {
  margin-right: 6px;
  padding: 2px 4px 2px 4px;
  background: #fef5cd;
}
.mm__forum_ribbon___deleted_theme_link {
  text-decoration: none;
  border-bottom: 1px dashed;
}
.mm__forum_ribbon___deleted_theme_link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.mm__forum_ribbon___deleted_theme_link:focus {
  text-decoration: none;
}
.mm__forum_ribbon___deleted_theme_link:active {
  text-decoration: none;
}
.mm__glossary__razdel-inside {
  padding-left: 16px;
}
.mm__glossary__razdel-inside--header a {
  font-weight: 500;
}
.mm__a2a_block {
  padding-top: 16px;
  padding-bottom: 8px;
}
.mm__a2a_block--width-185 {
  width: 185px;
}
.mm__a2a_icon--float-left {
  float: left;
}
.mm__common__comment__avatar--margin-top-bottom {
  margin-top: 0 !important;
  margin-bottom: 6px;
}
.mm__common__comment__avatar--paddings {
  padding-top: 4px;
  padding-left: 4px;
}
.mm__common__comment_text--color {
  color: #343434;
}
.mm__common__comment_simple--design {
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: 1px solid rgba(232, 245, 254, 0.94);
}
.mm__common__comment_author--design {
  background: rgba(232, 245, 254, 0.51);
  border-radius: 2px;
  border: 1px solid rgba(232, 245, 254, 0.94);
}
.mm__common__comment_simple_new--design {
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: 1px solid #fc7258;
}
.mm__common__comment_author_new--design {
  background: rgba(232, 245, 254, 0.51);
  border-radius: 2px;
  border: 1px solid #fc7258;
}
.mm__information-and-actions__comment_header--paddings {
  padding-top: 12px;
  padding-right: 0;
  padding-left: 0;
}
.mm__information-and-actions__column--nonpadding {
  padding: 0;
}
.mm__information-and-actions_action_link {
  text-decoration: none;
}
.mm__information-and-actions_action_link:hover {
  text-decoration: none;
  text-underline: none;
}
.mm__information-and-actions_vote_link {
  text-decoration: none;
}
.mm__information-and-actions_vote_link:hover {
  text-decoration: none;
  text-underline: none;
}
.mm__information-and-actions_action_link_important--color {
  color: #5cb85c;
}
.mm__information-and-actions_action_link_important--color:hover {
  color: #449d44;
}
.mm__information-and-actions_action_link_delete--color {
  color: #d9534f;
}
.mm__information-and-actions_action_link_delete--color:hover {
  color: #c9302c;
}
.mm__information-and-actions_action_link_complaint--color {
  color: #f0ad4e;
}
.mm__information-and-actions_action_link_complaint--color:hover {
  color: #ec971f;
}
.mm__information-and-actions_action_link_url--color {
  color: #40adf0;
}
.mm__information-and-actions_action_link_url--color:hover {
  color: #1298eb;
}
.mm__information-and-actions_action_link_important_selected--color {
  color: #2098d1 !important;
}
.mm__information-and-actions_action_link_important_selected--color:hover {
  color: #1978a5 !important;
}
.mm__mainpage__firstheader_background {
  background-color: #2e3537 !important;
}
.mm__mainpage__firstheader_perls_plus-icon--color {
  color: #00acee;
}
.mm__mainpage__firstheader_pearls_width {
  width: 50%;
}
.mm__mainpage__firstheader_pearls_inline-elements {
  float: left;
}
.mm__mainpage__firstheader_cityselector--no-form-margin {
  margin: 0;
}
.mm__mainpage__firstheader_pearls_icon--margin {
  margin-top: 4px;
  margin-right: 4px;
}
.mm__mainpage__firstheader_pearls_text--margin {
  margin-top: 10px;
  margin-right: 6px;
}
.mm__mainpage__firstheader_pearls_button--margin {
  margin-top: 4px;
  margin-right: 16px;
}
.mm__mainpage__firstheader_pearls_button--color {
  background-color: #6C6874 !important;
  border: 1px solid #6C6874 !important;
}
.mm__mainpage__firstheader_pearls_button--color:hover,
.mm__mainpage__firstheader_pearls_button--color:active,
.mm__mainpage__firstheader_pearls_button--color:focus {
  background-color: rgba(108, 104, 116, 0.91) !important;
  border: 1px solid rgba(108, 104, 116, 0.91) !important;
}
.mm__mainpage__firstheader_login-registration_button--margin {
  margin-top: 4px !important;
}
.mm__mainpage__firstheader_envelope--lightred-color {
  color: #d63c42;
}
.fixed-header-on .header .logo img {
  max-height: 48px;
}
.dropdown > a:before {
  color: transparent;
}
.mm__secondheader_input_search-icon {
  top: 14px;
  position: absolute;
  right: 10px;
}
.mm__mainpage_mainbanner--background-blue {
  background-color: #006591;
  color: #cdcdcd;
}
.mm__mainpage_mainbanner_text {
  text-shadow: 0 0 6px #575757;
}
.mm__mainpage_mainbanner_text--color-white {
  color: #ffffff;
}
.mm__mainpage_mainbanner_translucent-bg {
  background-color: rgba(0, 0, 0, 0.01) !important;
}
.mm__mainpage_mainbanner_btn-competition {
  color: #ffffff;
  background-color: #ffcc00 !important;
  border-color: #f5c200 !important;
}
.mm__mainpage_mainbanner_btn-competition:hover,
.mm__mainpage_mainbanner_btn-competition:focus,
.mm__mainpage_mainbanner_btn-competition:active {
  color: #ffffff;
  background-color: rgba(255, 204, 0, 0.8) !important;
  border-color: rgba(245, 194, 0, 0.8) !important;
}
.mm__mainpage_mainbanner_btn-consultation {
  color: #ffffff;
  background-color: #cc33cc !important;
  border-color: #c234c2 !important;
}
.mm__mainpage_mainbanner_btn-consultation:hover,
.mm__mainpage_mainbanner_btn-consultation:focus,
.mm__mainpage_mainbanner_btn-consultation:active {
  color: #ffffff;
  background-color: rgba(204, 51, 204, 0.8) !important;
  border-color: rgba(194, 52, 194, 0.8) !important;
}
.mm__mainpage_mainbanner_btn-notice {
  color: #ffffff;
  background-color: #cc6600 !important;
  border-color: #c36200 !important;
}
.mm__mainpage_mainbanner_btn-notice:hover,
.mm__mainpage_mainbanner_btn-notice:focus,
.mm__mainpage_mainbanner_btn-notice:active {
  color: #ffffff;
  background-color: rgba(204, 102, 0, 0.8) !important;
  border-color: rgba(195, 98, 0, 0.8) !important;
}
.mm__mainpage_mainbanner--logo-on-top {
  margin: 0 auto !important;
}
.hebe.tparrows.tp-leftarrow:before {
  font-family: "FontAwesome";
  content: "\f104" !important;
}
.hebe.tparrows.tp-rightarrow:before {
  font-family: "FontAwesome";
  content: "\f105" !important;
}
.hebe.tparrows,
.hebe.tparrows:before {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.mm__mainpage__waves_after_mainbanner {
  position: relative;
}
.mm__mainpage__waves_after_mainbanner--bottom-background-div {
  background-color: #00C0CB;
  height: 17px;
  width: 100%;
  position: absolute;
  top: 0;
}
.mm__mainpage__waves_after_mainbanner--parent-div {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.mm__mainpage__waves_after_mainbanner--parent-div:before,
.mm__mainpage__waves_after_mainbanner--parent-div:after {
  content: "";
  display: table;
}
.mm__mainpage__waves_after_mainbanner--parent-div:after {
  clear: both;
}
.mm__mainpage__waves_after_mainbanner--centerdiv {
  background: url(../img/mm__mainpage_waves_after_mainbanner/mm__mainpage_waves_after_mainbanner--center.png);
  width: 102px;
  height: 17px;
  float: left;
  position: absolute;
  top: 0;
  z-index: 200 !important;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.mm__mainpage__waves_after_mainbanner--leftdiv {
  background: url(../img/mm__mainpage_waves_after_mainbanner/mm__mainpage_waves_after_mainbanner.png) repeat-x;
  width: 100%;
  height: 17px;
  float: left;
  z-index: 100 !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-next,
.owl-prev {
  color: transparent;
}
.owl-prev {
  background: url(../img/mm__mainpage__important/mm__mainpage__important_chevron--nav-sprites.png);
  background-position: -1px -61px;
  width: 29px;
  height: 54px;
}
.owl-prev:hover {
  background: url(../img/mm__mainpage__important/mm__mainpage__important_chevron--nav-sprites.png);
  background-position: 0 -1px;
  width: 29px;
  height: 54px;
}
.owl-next {
  background: url(../img/mm__mainpage__important/mm__mainpage__important_chevron--nav-sprites.png);
  background-position: -54px -57px;
  width: 29px;
  height: 54px;
}
.owl-next:hover {
  background: url(../img/mm__mainpage__important/mm__mainpage__important_chevron--nav-sprites.png);
  background-position: -50px -2px;
  width: 29px;
  height: 54px;
}
@media screen and (min-width: 1215px) {
  .owl-prev {
    position: absolute;
    top: 200px;
    left: -30px;
  }
  .owl-next {
    position: absolute;
    top: 200px;
    right: -30px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1214px) {
  .owl-prev {
    display: none !important;
  }
  .owl-next {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 993px) {
  .owl-prev {
    display: none !important;
  }
  .owl-next {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .owl-prev {
    display: none !important;
  }
  .owl-next {
    display: none !important;
  }
}
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: transparent;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.mm__mainpage_important--background {
  background: #00c0cb;
}
.mm__mainpage_important_textseparator {
  width: 100%;
  background: url(../img/mm__mainpage__important/mm__mainpage__important_text-divider.png) no-repeat;
  background-position: center;
  height: 9px;
  margin-bottom: 10px;
}
.mm__mainpage_important_text--color {
  color: #ffffff;
}
.mm__mainpage_important_imgsection-separator {
  width: 100%;
  background: url(../img/mm__mainpage__important/mm__mainpage__important_imgsection-divider.png) repeat no-repeat;
  height: 5px;
  margin-bottom: 10px;
}
.mm__mainpage_important_overlay-top {
  position: absolute;
  top: 10px;
  padding: 4px;
  bottom: auto;
  left: 58%;
  right: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  height: 15px;
  color: #ffffff;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  border-radius: 3px 0 0 3px;
}
.overlay-visible.overlay-container:hover .mm__mainpage_important_overlay-top {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.overlay-container:hover .mm__mainpage_important_overlay-top {
  height: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.overlay-visible .mm__mainpage_important_overlay-top {
  opacity: 1;
  filter: alpha(opacity=100);
  height: auto!important;
  padding-bottom: 4px;
}
.mm__mainpage_important_overlay-bottom--border-radius {
  border-radius: 0 0 6px 6px;
}
.mm__mainpage__waves_after_important--bottom-border {
  position: absolute;
  bottom: auto;
  z-index: 200 !important;
  background-image: url(../img/mm__mainpage__waves_after_important/mm__mainpage_waves_after_important.png);
  background-position: left bottom;
  height: 5px;
  width: 100%;
}
.mm__mainpage_mainribbon_background {
  background-color: #0196a0;
}
.mm__mainpage_mainribbon_card--full-width {
  padding-right: 10px;
  padding-left: 10px;
}
.mm__mainpage_mainribbon_section--padding-t0-b5 {
  padding-top: 0;
  padding-bottom: 5px;
}
.mm__mainpage_mainribbon_section--padding-lr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.mm__mainpage_mainribbon_more-button--hovered {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mm__mainpage_mainribbon_more-button--hovered:hover:after,
.mm__mainpage_mainribbon_more-button--hovered:hover {
  background-color: #0196a0;
}
.mm__mainpage_mainribbon_color {
  color: #ffffff !important;
}
.mm__mainpage_mainribbon_more-button-transparent {
  color: #ffffff;
  border-color: #ffffff;
}
.mm__mainpage_mainribbon_more-button-transparent:hover,
.mm__mainpage_mainribbon_more-button-transparent:focus,
.mm__mainpage_mainribbon_more-button-transparent.focus,
.mm__mainpage_mainribbon_more-button-transparent:active,
.mm__mainpage_mainribbon_more-button-transparent.active,
.open > .dropdown-toggle.btn-gray-transparent {
  color: #474747;
  background-color: #ffffff;
  border-color: #474747;
}
.mm__mainpage_mainribbon_header--text-color {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .mm__mainpage_mainribbon_section--padding-t0-b5 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.mm__mainpage__waves_after_mainribbon--bottom-border {
  position: absolute;
  bottom: auto;
  z-index: 200 !important;
  background-image: url(../img/mm__mainpage__waves_after_mainribbon/mm__mainpage_waves_after_mainribbon.png);
  background-position: left bottom;
  height: 5px;
  width: 100%;
}
.mm__mainpage_zoloto_background {
  background-color: #cfecf4;
}
.mm__mainpage__waves_after_zoloto--bottom-border {
  position: absolute;
  bottom: auto;
  z-index: 200 !important;
  background-image: url(../img/mm__mainpage__waves_after_zoloto/mm__mainpage_waves_after_zoloto.png);
  background-position: left bottom;
  height: 5px;
  width: 100%;
}
.mm__mainpage__subscribe-n-pearlsinfo--background {
  background: #004f72 ;
  background: linear-gradient(to top, #002434, #004f72);
  border-top: none !important;
  border-bottom: none !important;
  color: #ffffff;
}
.mm__mainpage__subscribe-n-pearlsinfo--text-color {
  color: #ffffff;
}
.mm__mainpage__subscribe-n-pearlsinfo_link:hover,
.mm__mainpage__subscribe-n-pearlsinfo_link:active,
.mm__mainpage__subscribe-n-pearlsinfo_link:focus {
  text-decoration: none;
}
.mm__mainpage__subscribe-n-pearlsinfo_link:hover .mm__mainpage__subscribe-n-pearlsinfo_header--text-color,
.mm__mainpage__subscribe-n-pearlsinfo_link:active .mm__mainpage__subscribe-n-pearlsinfo_header--text-color,
.mm__mainpage__subscribe-n-pearlsinfo_link:focus .mm__mainpage__subscribe-n-pearlsinfo_header--text-color {
  color: #ebb2a6;
}
.mm__mainpage__subscribe-n-pearlsinfo_header--text-color {
  color: #fec5b9;
}
.mm__mainpage__subscribe-n-pearlsinfo_pearls_text--color-accent {
  color: #fec5b9;
  font-weight: 600;
}
.mm__mainpage__subscribe-n-pearlsinfo_separator--color:after {
  height: 1px;
  background: #fec5b9 !important;
  background: -moz-linear-gradient(left, rgba(254, 197, 185, 0) 0%, rgba(254, 197, 185, 0.09) 35%, rgba(254, 197, 185, 0.09) 70%, rgba(254, 197, 185, 0) 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(254, 197, 185, 0)), color-stop(35%, rgba(254, 197, 185, 0.09)), color-stop(70%, rgba(254, 197, 185, 0.09)), color-stop(100%, rgba(254, 197, 185, 0))) !important;
  background: -webkit-linear-gradient(left, rgba(254, 197, 185, 0) 0%, rgba(254, 197, 185, 0.09) 35%, rgba(254, 197, 185, 0.09) 70%, rgba(254, 197, 185, 0) 100%) !important;
  background: -o-linear-gradient(left, rgba(254, 197, 185, 0) 0%, rgba(254, 197, 185, 0.09) 35%, rgba(254, 197, 185, 0.09) 70%, rgba(254, 197, 185, 0) 100%) !important;
  background: -ms-linear-gradient(left, rgba(254, 197, 185, 0) 0%, rgba(254, 197, 185, 0.09) 35%, rgba(254, 197, 185, 0.09) 70%, rgba(254, 197, 185, 0) 100%) !important;
  background: linear-gradient(to right, rgba(254, 197, 185, 0) 0%, rgba(254, 197, 185, 0.09) 35%, rgba(254, 197, 185, 0.09) 70%, rgba(254, 197, 185, 0) 100%) !important;
}
.mm__mainpage__subscribe-n-pearlsinfo_button--color {
  background-color: #6C6874 !important;
  border: 1px solid #6C6874 !important;
}
.mm__mainpage__subscribe-n-pearlsinfo_button--color:hover,
.mm__mainpage__subscribe-n-pearlsinfo_button--color:active,
.mm__mainpage__subscribe-n-pearlsinfo_button--color:focus {
  background-color: rgba(108, 104, 116, 0.91) !important;
  border: 1px solid rgba(108, 104, 116, 0.91) !important;
}
.mm__mainpage_footer_background-pattern {
  background: url(../img/mm__mainpage_footer/mm__mainpage__footer_background-pattern-v4.jpg) repeat repeat;
}
.mm__mainpage_mainribbon_footer_links li a {
  text-transform: none;
  color: #99ccff !important;
}
.mm__mainpage_mainribbon_footer_links li a:hover {
  text-decoration: underline;
}
.mm__mainpage__subfooter--background {
  background-color: #002434 !important;
  border-top: none !important;
}
.mm__mainpage__subfooter_left-side_img-18yo {
  margin-bottom: 14px;
}
.mm__mainpage__subfooter_left-side_prop {
  height: 30px;
  margin-bottom: 14px;
}
.mm__mainpage__subfooter_left-side_text-xs {
  margin-bottom: 10px;
}
.mm__mainpage__subfooter_center-side_header--text-color {
  color: #ffffff;
}
.mm__mainpage__subfooter_center-side_divider {
  width: 100%;
  background: url(../img/mm__mainpage__subfooter/mm__subfooter_socialnetworks_divider.png) repeat no-repeat;
  height: 6px;
  margin-bottom: 10px;
}
.mm__mainpage__common_badge--competition {
  border: 1px solid #ffcc00 !important;
  background-color: #ffcc00 !important;
  color: #ffffff !important;
}
.mm__mainpage__common_badge--forum {
  border: 1px solid #3399cc !important;
  background-color: #3399cc !important;
  color: #ffffff !important;
}
.mm__mainpage__common_badge--article {
  border: 1px solid #00cc66 !important;
  background-color: #00cc66 !important;
  color: #ffffff !important;
}
.mm__mainpage__common_badge--blog {
  border: 1px solid #00ccff !important;
  background-color: #00ccff !important;
  color: #ffffff !important;
}
.mm__mainpage__common_badge--consultation {
  border: 1px solid #cc33cc !important;
  background-color: #cc33cc !important;
  color: #ffffff !important;
}
.mm__mainpage__common_badge--advertising {
  border: 1px solid #cc6600 !important;
  background-color: #cc6600 !important;
  color: #ffffff !important;
}
.mm__common_add-theme-on-main-index__rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.mm__common_add-theme-on-main-index__rating > span {
  display: inline-block;
  position: relative;
}
.mm__common_add-theme-on-main-index__rating > span:hover:before,
.mm__common_add-theme-on-main-index__rating > span:hover ~ span:before {
  font-family: "FontAwesome";
  font-size: 3em;
  color: #f0c02a;
  content: "\f005";
  position: absolute;
  cursor: pointer;
  top: -11px;
}
.mm__userprofile_infoblock {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 6px;
}
.mm__userprofile_digits-info {
  font-weight: 700;
}
.mm__userprofile_errormessage--background {
  background-color: #fc7258;
  color: #ffffff;
}
.mm__userprofile_avatar {
  margin-bottom: 10px;
}
.mm__userprofile_mandatory_field--asteriks-color {
  color: #fc7258;
}
.mm__signup_page_links {
  text-transform: none;
  color: #61b4ff !important;
  text-decoration: underline;
}
.mm__signup_page_links:hover {
  text-decoration: underline;
  color: #6e85d7 !important;
}
.mm__recaptcha--center-block {
  margin: 0 auto;
  display: block;
  width: 50%;
}
.mm__common_new-post_themename {
  padding-left: 0;
  padding-right: 0;
}
.mm__common_new-post_themename_label {
  float: right;
}
.mm__common_new-post_inquiry_option {
  width: 100%;
}
.mm__common_new-post_inquiry_option_input--type {
  margin-top: 12px !important;
}
/* -------= imports =------- */
