.mm__mainpage_mainbanner--background-blue {
  background-color: #006591;
  color: #cdcdcd;
}
.mm__mainpage_mainbanner_text {
  text-shadow: 0 0 6px #575757;
}
.mm__mainpage_mainbanner_text--color-white {
  color: #ffffff;
}
.mm__mainpage_mainbanner_translucent-bg {
  background-color: rgba(0, 0, 0, 0.01) !important;
}
.mm__mainpage_mainbanner_btn-competition {
  color: #ffffff;
  background-color: #ffcc00 !important;
  border-color: #f5c200 !important;
}
.mm__mainpage_mainbanner_btn-competition:hover,
.mm__mainpage_mainbanner_btn-competition:focus,
.mm__mainpage_mainbanner_btn-competition:active {
  color: #ffffff;
  background-color: rgba(255, 204, 0, 0.8) !important;
  border-color: rgba(245, 194, 0, 0.8) !important;
}
.mm__mainpage_mainbanner_btn-consultation {
  color: #ffffff;
  background-color: #cc33cc !important;
  border-color: #c234c2 !important;
}
.mm__mainpage_mainbanner_btn-consultation:hover,
.mm__mainpage_mainbanner_btn-consultation:focus,
.mm__mainpage_mainbanner_btn-consultation:active {
  color: #ffffff;
  background-color: rgba(204, 51, 204, 0.8) !important;
  border-color: rgba(194, 52, 194, 0.8) !important;
}
.mm__mainpage_mainbanner_btn-notice {
  color: #ffffff;
  background-color: #cc6600 !important;
  border-color: #c36200 !important;
}
.mm__mainpage_mainbanner_btn-notice:hover,
.mm__mainpage_mainbanner_btn-notice:focus,
.mm__mainpage_mainbanner_btn-notice:active {
  color: #ffffff;
  background-color: rgba(204, 102, 0, 0.8) !important;
  border-color: rgba(195, 98, 0, 0.8) !important;
}
.mm__mainpage_mainbanner--logo-on-top {
  margin: 0 auto !important;
}
.hebe.tparrows.tp-leftarrow:before {
  font-family: "FontAwesome";
  content: "\f104" !important;
}
.hebe.tparrows.tp-rightarrow:before {
  font-family: "FontAwesome";
  content: "\f105" !important;
}
.hebe.tparrows,
.hebe.tparrows:before {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
