.mm__common_new-post_themename {
  padding-left: 0;
  padding-right: 0;
}
.mm__common_new-post_themename_label {
  float: right;
}
.mm__common_new-post_inquiry_option {
  width: 100%;
}
.mm__common_new-post_inquiry_option_input--type {
  margin-top: 12px !important;
}
